## Language
Language: Cpp
Standard: Latest

BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AlwaysBreakAfterDefinitionReturnType: All
Cpp11BracedListStyle: 'true'
ColumnLimit: 160
BinPackParameters: 'false'
BinPackArguments: 'false'