version: '3.8'

#volumes:
#  redis-data:
#    null
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
    env_file:
      # Ensure that the variables in .env match the same variables in devcontainer.json
      - .env

    # Security Opt and cap_add allow for C++ based debuggers to work. 
    # See `runArgs`: https://github.com/Microsoft/vscode-docs/blob/main/docs/remote/devcontainerjson-reference.md
    #     security_opt:
    #       - seccomp:unconfined
    #     cap_add:
    #       - SYS_PTRACE

    volumes:
      - ..:/workspace:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    #network_mode: service:redis
    # Uncomment the next line to use a non-root user for all processes.
    # user: vscode

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  epics_pva:
    image: ghcr.io/bisegni/epics-base-docker-image:main
    volumes:
      - ../test/epics-test.db:/db/softioc.db

  # epics_ca:
  #   image: ghcr.io/bisegni/epics-base-docker-image:main
  #   entrypoint: /opt/execute-ca-ioc.sh /db/softioc.db
  #   volumes:
  #     - ../test/epics-test-ca.db:/db/softioc.db
  #     - ../test/execute-ca-ioc.sh:/opt/execute-ca-ioc.sh

  zookeeper:
    image: bitnami/zookeeper:3.8.1
    ports:
      - 2181:2181
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: bitnami/kafka:3.4.0
    # ports:
    #   - 9092:9092
    #   - 9093:9093
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_ENABLE_KRAFT=no
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_LISTENERS=CLIENT://:9092,EXTERNAL://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:9092,EXTERNAL://localhost:9093
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
    volumes:
      - kafka-data:/bitnami/kafka

volumes:
  kafka-data: